In [11]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [12]:
data = pd.read_csv(os.path.join('Dropped_Less_than_1000_budget_and_other_columns.csv'))
data.head()

,imdb_title_id,original_title,year,genre,duration,language,production_company,avg_vote,votes,budget,Good_or_Bad_Movie
0,tt7939428,10 Things We Should Do Before We Break Up,2020,Romance,74,English,NaN,4.7,486,25000000,0
1,tt10740584,Abigail Haunting,2020,Horror,85,English,Indie Film Factory,3.8,398,60000,0
2,tt11032990,Malibu Rescue: The Next Wave,2020,"Action, Adventure, Comedy",68,English,Pacific Bay Entertainment,4.5,386,5000000,0
3,tt8461224,The Tax Collector,2020,"Action, Crime, Drama",95,English,Cedar Park Entertainment,4.7,4862,30000000,0
4,tt11547496,Camp Blood 8: Revelations,2020,Horror,82,English,Sterling Entertainment,2.2,114,10000,0

In [22]:
# Assign X (data) and y (target)
X = data[["year","duration","budget"]]
y = data["avg_vote"]
print(X.shape, y.shape)

(10345, 3) (10345,)

In [23]:
X.head()

   year  duration    budget
0  2020        74  25000000
1  2020        85     60000
2  2020        68   5000000
3  2020        95  30000000
4  2020        82     10000

In [24]:
#Split our data into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=1)

In [25]:
#Create a Logistic Regression Model
from sklearn.linear_model import LinearRegression
classifier = LinearRegression()
classifier

LinearRegression()

In [26]:
classifier

LinearRegression()

In [27]:
#Fit (train) or model using the training data
classifier.fit(X_train, y_train)

LinearRegression()

In [28]:
#Validate the model using the test data
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.28532153267305793
Testing Data Score: 0.2977697818525833

In [21]:
#Make predictions
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [ 0.01259779  0.09645518  0.45776119  0.46142083  0.24118478  0.14385384
 -0.00588171  0.18873096  0.29755516  0.04208875]
First 10 Actual labels: [0, 1, 0, 0, 0, 1, 0, 0, 0, 0]

In [31]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

      Prediction  Actual
0              0       0
1              0       1
2              0       0
3              0       0
4              0       0
...          ...     ...
3099           0       0
3100           0       1
3101           0       1
3102           0       0
3103           0       0

[3104 rows x 2 columns]