In [10]:
import pandas as pd
import numpy as np
import requests
from pprint import PrettyPrinter

In [11]:
pp = PrettyPrinter()

In [4]:
df = pd.read_csv ('IMDb_movies_USA_w_budget.csv', dtype='unicode')
df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0002101,Cleopatra,Cleopatra,1912,11/13/1912,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,"$45,000",NaN,NaN,NaN,25,3
1,tt0003471,Traffic in Souls,Traffic in Souls,1913,11/24/1913,"Crime, Drama",88,USA,English,George Loane Tucker,...,"Jane Gail, Ethel Grandin, William H. Turner, M...","A woman, with the aid of her police officer sw...",6,552,"$5,700",NaN,NaN,NaN,14,11
2,tt0004099,"His Majesty, the Scarecrow of Oz","His Majesty, the Scarecrow of Oz",1914,10/14/1914,"Family, Fantasy, Adventure",59,USA,English,J. Farrell MacDonald,...,"Violet MacMillan, Frank Moore, Pierre Couderc,...","A wicked king has taken over the Emerald City,...",5.2,415,"$23,500",NaN,NaN,NaN,11,7
3,tt0004181,Judith of Bethulia,Judith of Bethulia,1914,3/8/1914,Drama,61,USA,English,D.W. Griffith,...,"Blanche Sweet, Henry B. Walthall, Mae Marsh, R...",A religious woman seeks to save her people fro...,6.1,1239,"$40,000",NaN,NaN,NaN,16,9
4,tt0004465,The Perils of Pauline,The Perils of Pauline,1914,3/23/1914,"Action, Adventure, Drama",199,USA,English,"Louis J. Gasnier, Donald MacKenzie",...,"Pearl White, Crane Wilbur, Paul Panzer, Edward...",Young Pauline is left a lot of money when her ...,6.3,939,"$25,000",NaN,NaN,NaN,5,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10386,tt9685652,Greyhound Attack,Greyhound Attack,2019,3/28/2019,"Action, Drama, War",80,USA,English,Christopher Forbes,...,"Brad Owens, Scotty Sparks, Bob Young, Christop...",NaN,1.2,215,"$1,500,000",NaN,NaN,NaN,44,NaN
10387,tt9779516,Cosa mi lasci di te,I Still Believe,2020,3/19/2020,"Biography, Drama, Music",116,USA,English,"Andrew Erwin, Jon Erwin",...,"K.J. Apa, Britt Robertson, Nathan Parsons, Gar...",The true-life story of Christian music star Je...,6.5,6196,"$12,000,000","$9,868,521","$13,681,524",41,151,52
10388,tt9815714,The Hard Way,The Hard Way,2019,3/5/2019,Action,92,USA,English,Keoni Waxman,...,"Michael Jai White, Luke Goss, Randy Couture, M...",After learning his brother died on a mission i...,4.8,2357,"$3,000,000",NaN,NaN,NaN,50,14
10389,tt9840958,Love Struck Sick,Love Struck Sick,2019,8/8/2019,Romance,92,USA,English,Don Tjernagel,...,"Jordan Abbe, Jim Averill, Mikey Averill, Josh ...",This movie is all about one of the greatest Yo...,7.2,249,"$7,000",NaN,NaN,NaN,NaN,NaN
10390,tt9860860,Abduction 101,Abduction 101,2019,6/25/2019,Horror,77,USA,English,"Robin Entreinger, Steve Noir",...,"Luna Labelle, Nixi Oblivion, Brianna Shewbert ...",Three beautiful women find a strange house in ...,2.3,174,"$500,000",NaN,NaN,NaN,14,3

In [5]:
print(df.dtypes)

imdb_title_id            object
title                    object
original_title           object
year                     object
date_published           object
genre                    object
duration                 object
country                  object
language                 object
director                 object
writer                   object
production_company       object
actors                   object
description              object
avg_vote                 object
votes                    object
budget                   object
usa_gross_income         object
worlwide_gross_income    object
metascore                object
reviews_from_users       object
reviews_from_critics     object
dtype: object

In [6]:
df.avg_vote = df.avg_vote.astype(float)

In [7]:
print(df.dtypes)

imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                  object
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                     object
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                 object
reviews_from_users        object
reviews_from_critics      object
dtype: object

In [8]:


###Added new column 'Good_or_Bad_Movie' for avg_vote of 7 or greater = 1 (good) else 0(bad) 
df['Good_or_Bad_Movie'] = np.where(df['avg_vote']>= 7, 1, 0)

In [7]:
df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,Good_or_Bad_Movie
0,tt0002101,Cleopatra,Cleopatra,1912,11/13/1912,"Drama, History",100,USA,English,Charles L. Gaskill,...,The fabled queen of Egypt's affair with Roman ...,5.2,446,"$45,000",NaN,NaN,NaN,25,3,0
1,tt0003471,Traffic in Souls,Traffic in Souls,1913,11/24/1913,"Crime, Drama",88,USA,English,George Loane Tucker,...,"A woman, with the aid of her police officer sw...",6.0,552,"$5,700",NaN,NaN,NaN,14,11,0
2,tt0004099,"His Majesty, the Scarecrow of Oz","His Majesty, the Scarecrow of Oz",1914,10/14/1914,"Family, Fantasy, Adventure",59,USA,English,J. Farrell MacDonald,...,"A wicked king has taken over the Emerald City,...",5.2,415,"$23,500",NaN,NaN,NaN,11,7,0
3,tt0004181,Judith of Bethulia,Judith of Bethulia,1914,3/8/1914,Drama,61,USA,English,D.W. Griffith,...,A religious woman seeks to save her people fro...,6.1,1239,"$40,000",NaN,NaN,NaN,16,9,0
4,tt0004465,The Perils of Pauline,The Perils of Pauline,1914,3/23/1914,"Action, Adventure, Drama",199,USA,English,"Louis J. Gasnier, Donald MacKenzie",...,Young Pauline is left a lot of money when her ...,6.3,939,"$25,000",NaN,NaN,NaN,5,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10386,tt9685652,Greyhound Attack,Greyhound Attack,2019,3/28/2019,"Action, Drama, War",80,USA,English,Christopher Forbes,...,NaN,1.2,215,"$1,500,000",NaN,NaN,NaN,44,NaN,0
10387,tt9779516,Cosa mi lasci di te,I Still Believe,2020,3/19/2020,"Biography, Drama, Music",116,USA,English,"Andrew Erwin, Jon Erwin",...,The true-life story of Christian music star Je...,6.5,6196,"$12,000,000","$9,868,521","$13,681,524",41,151,52,0
10388,tt9815714,The Hard Way,The Hard Way,2019,3/5/2019,Action,92,USA,English,Keoni Waxman,...,After learning his brother died on a mission i...,4.8,2357,"$3,000,000",NaN,NaN,NaN,50,14,0
10389,tt9840958,Love Struck Sick,Love Struck Sick,2019,8/8/2019,Romance,92,USA,English,Don Tjernagel,...,This movie is all about one of the greatest Yo...,7.2,249,"$7,000",NaN,NaN,NaN,NaN,NaN,1
10390,tt9860860,Abduction 101,Abduction 101,2019,6/25/2019,Horror,77,USA,English,"Robin Entreinger, Steve Noir",...,Three beautiful women find a strange house in ...,2.3,174,"$500,000",NaN,NaN,NaN,14,3,0

In [11]:
df_sorted = df.sort_values('year',ascending=False)
df_sorted

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,Good_or_Bad_Movie
10315,tt7939428,10 cose da fare prima di lasciarsi,10 Things We Should Do Before We Break Up,2020,2/21/2020,Romance,74,USA,English,Galt Niederhoffer,...,"After Abigail, a single mom of two, becomes pr...",4.7,486,"$25,000,000",NaN,NaN,NaN,17,3,0
7258,tt10740584,Abigail Haunting,Abigail Haunting,2020,3/27/2020,Horror,85,USA,English,Kelly Schwarze,...,After escaping the clutches of an abusive rela...,3.8,398,"$60,000",NaN,NaN,NaN,23,10,0
7321,tt11032990,Malibu Rescue - Una nuova onda,Malibu Rescue: The Next Wave,2020,8/4/2020,"Action, Adventure, Comedy",68,USA,English,Savage Steve Holland,...,"It's summer again, and everyone's favorite Jun...",4.5,386,"$5,000,000",NaN,NaN,NaN,5,5,0
10349,tt8461224,The Tax Collector,The Tax Collector,2020,8/7/2020,"Action, Crime, Drama",95,USA,English,David Ayer,...,"A ""tax collector"" working for a local crime lo...",4.7,4862,"$30,000,000","$942,666","$942,666",22,255,47,0
7374,tt11316764,Rocket Hunter,Rocket Hunter,2020,9/1/2020,"Action, Drama, War",86,USA,English,Christopher Forbes,...,In one of the most dangerous missions of the w...,1.3,153,$83,NaN,NaN,NaN,34,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,tt0004465,The Perils of Pauline,The Perils of Pauline,1914,3/23/1914,"Action, Adventure, Drama",199,USA,English,"Louis J. Gasnier, Donald MacKenzie",...,Young Pauline is left a lot of money when her ...,6.3,939,"$25,000",NaN,NaN,NaN,5,8,0
3,tt0004181,Judith of Bethulia,Judith of Bethulia,1914,3/8/1914,Drama,61,USA,English,D.W. Griffith,...,A religious woman seeks to save her people fro...,6.1,1239,"$40,000",NaN,NaN,NaN,16,9,0
2,tt0004099,"His Majesty, the Scarecrow of Oz","His Majesty, the Scarecrow of Oz",1914,10/14/1914,"Family, Fantasy, Adventure",59,USA,English,J. Farrell MacDonald,...,"A wicked king has taken over the Emerald City,...",5.2,415,"$23,500",NaN,NaN,NaN,11,7,0
1,tt0003471,Traffic in Souls,Traffic in Souls,1913,11/24/1913,"Crime, Drama",88,USA,English,George Loane Tucker,...,"A woman, with the aid of her police officer sw...",6.0,552,"$5,700",NaN,NaN,NaN,14,11,0
0,tt0002101,Cleopatra,Cleopatra,1912,11/13/1912,"Drama, History",100,USA,English,Charles L. Gaskill,...,The fabled queen of Egypt's affair with Roman ...,5.2,446,"$45,000",NaN,NaN,NaN,25,3,0

In [42]:
df_sorted.to_csv('Movies_with_Good_and_bad_column.csv', encoding='utf-8', index=False)

NameError: name 'df_sorted' is not defined

In [12]:
df_first_750 = df_sorted.head(750)
df_first_750

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,Good_or_Bad_Movie
10315,tt7939428,10 cose da fare prima di lasciarsi,10 Things We Should Do Before We Break Up,2020,2/21/2020,Romance,74,USA,English,Galt Niederhoffer,...,"After Abigail, a single mom of two, becomes pr...",4.7,486,"$25,000,000",NaN,NaN,NaN,17,3,0
7258,tt10740584,Abigail Haunting,Abigail Haunting,2020,3/27/2020,Horror,85,USA,English,Kelly Schwarze,...,After escaping the clutches of an abusive rela...,3.8,398,"$60,000",NaN,NaN,NaN,23,10,0
7321,tt11032990,Malibu Rescue - Una nuova onda,Malibu Rescue: The Next Wave,2020,8/4/2020,"Action, Adventure, Comedy",68,USA,English,Savage Steve Holland,...,"It's summer again, and everyone's favorite Jun...",4.5,386,"$5,000,000",NaN,NaN,NaN,5,5,0
10349,tt8461224,The Tax Collector,The Tax Collector,2020,8/7/2020,"Action, Crime, Drama",95,USA,English,David Ayer,...,"A ""tax collector"" working for a local crime lo...",4.7,4862,"$30,000,000","$942,666","$942,666",22,255,47,0
7374,tt11316764,Rocket Hunter,Rocket Hunter,2020,9/1/2020,"Action, Drama, War",86,USA,English,Christopher Forbes,...,In one of the most dangerous missions of the w...,1.3,153,$83,NaN,NaN,NaN,34,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10011,tt5354458,Lake on Fire,Lake on Fire,2016,1/29/2016,"Horror, Thriller",79,USA,English,Jake Myers,...,"While filming in southern Nevada, a television...",5.5,581,"$300,000",NaN,NaN,NaN,12,4,0
8898,tt2179191,After the Rain,After the Rain,2016,9/10/2016,Drama,95,USA,English,Daniel Bonjour,...,A young man at the end of his life tries to fi...,6.0,160,"$180,000",NaN,NaN,NaN,3,1,0
7527,tt1211837,Doctor Strange,Doctor Strange,2016,10/26/2016,"Action, Adventure, Fantasy",115,USA,English,Scott Derrickson,...,While on a journey of physical and spiritual h...,7.5,578675,"$165,000,000","$232,641,920","$677,718,395",72,961,584,1
10144,tt6212020,It Lives in the Attic,It Lives in the Attic,2016,11/12/2016,Thriller,85,USA,English,Steve Hudgins,...,The lives of several people take a terrifying ...,3.1,197,"$1,000",NaN,NaN,NaN,12,7,0
7533,tt1212428,CiviltÃ perduta,The Lost City of Z,2016,6/22/2017,"Biography, Drama, History",141,USA,"English, Portuguese, Tupi, Spanish, German",James Gray,...,"A true-life drama, centering on British explor...",6.6,76112,"$30,000,000","$8,580,410","$19,263,938",78,254,284,0

In [13]:
df_first_750_imdbID= df_first_750['imdb_title_id']
df_first_750_imdbID

10315     tt7939428
7258     tt10740584
7321     tt11032990
10349     tt8461224
7374     tt11316764
            ...
10011     tt5354458
8898      tt2179191
7527      tt1211837
10144     tt6212020
7533      tt1212428
Name: imdb_title_id, Length: 750, dtype: object

In [16]:
df_first_750_imdbID.to_csv('IMDB_IDs.csv', index=False)

In [ ]:
#key: 3ccc73f4
#OMDb API: http://www.omdbapi.com/?i=tt3896198&apikey=3ccc73f4

In [22]:
film_url = 'http://www.omdbapi.com/?i=tt7939428&apikey=3ccc73f4'
IMDBfile = 'IMDB_IDs.csv'
film_stuff = []

#data_URL = 'http://www.omdbapi.com/?apikey='+apiKey

#params = {
#    'i':'tt7939428',
#    'plot':'full'
#}

response = requests.get(film).json()
pp.pprint(response)

{'Actors': 'Christina Ricci, Hamish Linklater, Mia Sinclair Jenness, Brady '
           'Jenness',
 'Awards': 'N/A',
 'BoxOffice': 'N/A',
 'Country': 'USA',
 'DVD': 'N/A',
 'Director': 'Galt Niederhoffer',
 'Genre': 'Romance',
 'Language': 'English',
 'Metascore': 'N/A',
 'Plot': 'After Abigail, a single mom of two, becomes pregnant following a '
         'one-night stand with Ben, the unlikely pair try to make a go of it.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNWQzZmQ5MjMtMGYzMC00ZjBkLTg1YmItY2ViYWZkMDgzMjllXkEyXkFqcGdeQXVyMjI4MTYwNTY@._V1_SX300.jpg',
 'Production': 'N/A',
 'Rated': 'N/A',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '4.7/10'}],
 'Released': '21 Feb 2020',
 'Response': 'True',
 'Runtime': '74 min',
 'Title': '10 Things We Should Do Before We Break Up',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Galt Niederhoffer',
 'Year': '2020',
 'imdbID': 'tt7939428',
 'imdbRating': '4.7',
 'imdbVotes': '718'}

In [24]:
ID = "tt7939428"
film_url = "http://www.omdbapi.com/?i="+ ID +"&apikey=3ccc73f4"

response = requests.get(film_url).json()
pp.pprint(response)

{'Actors': 'Christina Ricci, Hamish Linklater, Mia Sinclair Jenness, Brady '
           'Jenness',
 'Awards': 'N/A',
 'BoxOffice': 'N/A',
 'Country': 'USA',
 'DVD': 'N/A',
 'Director': 'Galt Niederhoffer',
 'Genre': 'Romance',
 'Language': 'English',
 'Metascore': 'N/A',
 'Plot': 'After Abigail, a single mom of two, becomes pregnant following a '
         'one-night stand with Ben, the unlikely pair try to make a go of it.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNWQzZmQ5MjMtMGYzMC00ZjBkLTg1YmItY2ViYWZkMDgzMjllXkEyXkFqcGdeQXVyMjI4MTYwNTY@._V1_SX300.jpg',
 'Production': 'N/A',
 'Rated': 'N/A',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '4.7/10'}],
 'Released': '21 Feb 2020',
 'Response': 'True',
 'Runtime': '74 min',
 'Title': '10 Things We Should Do Before We Break Up',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Galt Niederhoffer',
 'Year': '2020',
 'imdbID': 'tt7939428',
 'imdbRating': '4.7',
 'imdbVotes': '718'}

In [38]:
#test round
IMDBfile = 'test_IMDB_IDs.csv'
film_stuff = []
try:
    with open(IMDBfile,'r',encoding= 'utf8', errors='ignore') as f:
        for line in f:
          ID = line.strip()
          film_url = "http://www.omdbapi.com/?i="+ ID +"&apikey=3ccc73f4"
          response = requests.get(film_url).json()
          print(response)
          if response and len(response):
            title = response['Title']
            film_stuff.append({"Title" : title})
          else:
            sys.stderr.write("not found")
except IOError:
    print('Error: File %s does not appear to exist.' % IMDBfile)
film_stuff

{'Title': '10 Things We Should Do Before We Break Up', 'Year': '2020', 'Rated': 'N/A', 'Released': '21 Feb 2020', 'Runtime': '74 min', 'Genre': 'Romance', 'Director': 'Galt Niederhoffer', 'Writer': 'Galt Niederhoffer', 'Actors': 'Christina Ricci, Hamish Linklater, Mia Sinclair Jenness, Brady Jenness', 'Plot': 'After Abigail, a single mom of two, becomes pregnant following a one-night stand with Ben, the unlikely pair try to make a go of it.', 'Language': 'English', 'Country': 'USA', 'Awards': 'N/A', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNWQzZmQ5MjMtMGYzMC00ZjBkLTg1YmItY2ViYWZkMDgzMjllXkEyXkFqcGdeQXVyMjI4MTYwNTY@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '4.7/10'}], 'Metascore': 'N/A', 'imdbRating': '4.7', 'imdbVotes': '718', 'imdbID': 'tt7939428', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Abigail Haunting', 'Year': '2020', 'Rated': 'TV-MA', 'Released': '27 Mar 2020', 'Runtime': '85 min', 'Genre': 'Horror', 'Director': 'Kelly Schwarze', 'Writer': 'Charisma Manulat, Kelly Schwarze', 'Actors': 'Chelsea Jurkiewicz, Austin Collazo, Brenda Daly, Michael Monteiro', 'Plot': 'After escaping the clutches of an abusive relationship, Katie reluctantly returns to the foster home she grew up in. Little does she know, her foster mother Marge is harboring a sinister ...', 'Language': 'English', 'Country': 'USA', 'Awards': 'N/A', 'Poster': 'https://m.media-amazon.com/images/M/MV5BYzc4Y2EzNDItNDYzNC00NGJhLWI1YjctMjdhMDBjZDQ2ZmEyXkEyXkFqcGdeQXVyMTcxODA1Mw@@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '3.7/10'}], 'Metascore': 'N/A', 'imdbRating': '3.7', 'imdbVotes': '440', 'imdbID': 'tt10740584', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Malibu Rescue: The Next Wave', 'Year': '2020', 'Rated': 'N/A', 'Released': '04 Aug 2020', 'Runtime': '68 min', 'Genre': 'Action, Adventure, Comedy, Family', 'Director': 'Savage Steve Holland', 'Writer': 'Jed Elinoff, Savage Steve Holland (creator), Scott McAboy (creator), Scott Thomas', 'Actors': "Curtis Armstrong, Tricia O'Kelley, Breanna Yde, Jeremy Howard", 'Plot': "It's summer again, and everyone's favorite Junior Rescuers, The Flounders, are back at Tower 2. With the International Junior Rescue Championships headed to Southern California, the eyes of...", 'Language': 'English', 'Country': 'USA', 'Awards': 'N/A', 'Poster': 'https://m.media-amazon.com/images/M/MV5BYmIyZjVkNDQtOWEyZC00OGYzLWIwNWYtNGUyMmFkMDQ5ZWYzXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '4.6/10'}], 'Metascore': 'N/A', 'imdbRating': '4.6', 'imdbVotes': '557', 'imdbID': 'tt11032990', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}

[{'Title': '10 Things We Should Do Before We Break Up'},
 {'Title': 'Abigail Haunting'},
 {'Title': 'Malibu Rescue: The Next Wave'}]

In [41]:
#catching for null values

            
IMDBfile = 'test_IMDB_IDs.csv'
film_stuff = []
try:
    with open(IMDBfile,'r',encoding= 'utf8', errors='ignore') as f:
        for line in f:
          ID = line.strip()
          film_url = "http://www.omdbapi.com/?i="+ ID +"&apikey=3ccc73f4"
          response = requests.get(film_url).json()
          #print(response)
          if response and len(response):
            try:
                imdbID = response['imdbID']
            except KeyError:
                imdbID = "N/A"            
            try:
                title = response['Title']
            except KeyError:
                title = "N/A"
            try:
                awards = response['Awards']
            except KeyError:
                awards = "N/A"
                
            try:
                rated = response['Rated']
            except KeyError:
                rated = "N/A"
                
            try:
                boxOffice = response['BoxOffice']
            except KeyError:
                boxOffice = "N/A"            
            
            try:
                imdbVotes = response['imdbVotes']
            except KeyError:
                imdbVotes = "N/A"
                
            try:
                imdbRating = response['imdbRating']
            except KeyError:
                imdbRating = "N/A" 
                
                
            try:
                actors = response['Actors']
            except KeyError:
                actors = "N/A"                 

            try:
                awards = response['Awards']
            except KeyError:
                awards = "N/A" 
            
            try:
                boxoffice = response['Country']
            except KeyError:
                boxoffice = "N/A"      
            try:
                boxoffice = response['BoxOffice']
            except KeyError:
                boxoffice = "N/A"                      
            try:
                boxoffice = response['BoxOffice']
            except KeyError:
                boxoffice = "N/A"      
                
            try:
                boxoffice = response['BoxOffice']
            except KeyError:
                boxoffice = "N/A"      
                
            try:
                boxoffice = response['BoxOffice']
            except KeyError:
                boxoffice = "N/A"      
            try:
                boxoffice = response['BoxOffice']
            except KeyError:
                boxoffice = "N/A"      
                
            try:
                boxoffice = response['BoxOffice']
            except KeyError:
                boxoffice = "N/A"      
                
            film_stuff.append({"ImdbID" : imdbID,
                              "Title" : title,
                              "Awards" : awards,
                              "Rated"  : rated,
                              "BoxOffice" : boxOffice,
                              "ImdbVotes" : imdbVotes,
                              "imdbRating" : imdbRating,
                              "Actors" : actors,
                              "Awards" : awards,
                               
                               
                              })
          else:
            sys.stderr.write("not found")
except IOError:
    print('Error: File %s does not appear to exist.' % IMDBfile)
film_stuff



{'Actors': 'Christina Ricci, Hamish Linklater, Mia Sinclair Jenness, Brady '
           'Jenness',
 'Awards': 'N/A',
 'BoxOffice': 'N/A',
 'Country': 'USA',
 'DVD': 'N/A',
 'Director': 'Galt Niederhoffer',
 'Genre': 'Romance',
 'Language': 'English',
 'Metascore': 'N/A',
 'Plot': 'After Abigail, a single mom of two, becomes pregnant following a '
         'one-night stand with Ben, the unlikely pair try to make a go of it.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNWQzZmQ5MjMtMGYzMC00ZjBkLTg1YmItY2ViYWZkMDgzMjllXkEyXkFqcGdeQXVyMjI4MTYwNTY@._V1_SX300.jpg',
 'Production': 'N/A',
 'Rated': 'N/A',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '4.7/10'}],
 'Released': '21 Feb 2020',
 'Response': 'True',
 'Runtime': '74 min',
 'Title': '10 Things We Should Do Before We Break Up',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Galt Niederhoffer',
 'Year': '2020',
 'imdbID': 'tt7939428',
 'imdbRating': '4.7',
 'imdbVotes': '718'}

[{'ImdbID': 'tt7939428',
  'Title': '10 Things We Should Do Before We Break Up',
  'Awards': 'N/A',
  'Rated': 'N/A',
  'BoxOffice': 'N/A',
  'ImdbVotes': '718',
  'imdbRating': '4.7'},
 {'ImdbID': 'tt10740584',
  'Title': 'Abigail Haunting',
  'Awards': 'N/A',
  'Rated': 'TV-MA',
  'BoxOffice': 'N/A',
  'ImdbVotes': '440',
  'imdbRating': '3.7'},
 {'ImdbID': 'tt11032990',
  'Title': 'Malibu Rescue: The Next Wave',
  'Awards': 'N/A',
  'Rated': 'N/A',
  'BoxOffice': 'N/A',
  'ImdbVotes': '557',
  'imdbRating': '4.6'}]

In [1]:
df_sorted

NameError: name 'df_sorted' is not defined